<!-- Loader -->
<div id="global-loader">
    <img src="/public/libraries/img/loader.svg" class="loader-img" alt="Loader" />
</div>
<!-- End Loader -->

<!-- Page -->
<div class="page main-signin-wrapper w-100">

    <!-- Row -->
    <div class="row signpages text-center">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="row row-sm">
                    <div class="col-sm-12 login_form">
                        <div class="container-fluid">
                            <div class="row row-sm">
                                <div class="card-body mt-2 mb-2">
                                    <img src="https://perlaspa.com.vn/wp-content/uploads/2021/01/perla-spa-logo.jpg"
                                        class="d-lg-none header-brand-img text-left float-left mb-4" alt="logo" />
                                    <div class="clearfix"></div>
                                    <form action="/auth/signup" method="post">
                                        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                                        <h5 class="text-left mb-2">Tạo tài khoản</h5>
                                        <div class="form-group text-left">
                                            <label>Email</label>
                                            <input class="form-control" placeholder="Enter your email" type="text"
                                                name="email" />
                                        </div>
                                        <div class="form-group text-left">
                                            <label>Mật khẩu</label>
                                            <input class="form-control" placeholder="Mật khẩu" type="password"
                                                name="password" />
                                        </div>
                                        <div class="form-group text-left">
                                            <label>Tên</label>
                                            <input class="form-control" placeholder="Tên" type="text" name="name" />
                                        </div>
                                        <div class="form-group text-left">
                                            <label>Số điện thoại</label>
                                            <input class="form-control" placeholder="Số điện thoại" type="password"
                                                name="phone_number" />
                                        </div>
                                        <div class="form-group text-left">
                                            <label>Giới tính</label>
                                            <select class="form-control select select2 " name="gender" id="">
                                                <option disabled>Chọn giới tính</option>
                                                <option value="male">Nam</option>
                                                <option value="female">Nữ</option>
                                                <option value="others">Khác</option>
                                            </select>
                                        </div>
                                        <div class="form-group text-left">
                                            <label>Địa chỉ</label>
                                            <input class="form-control" placeholder="Địa chỉ" type="text"
                                                name="address" />
                                        </div>
                                        <div class="alert alert-danger text-left" role="alert"
                                            style="display:{{displayError}};">
                                            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            {{message}}
                                        </div>
                                        <button class="btn ripple btn-main-primary btn-block">Đăng ký</button>
                                    </form>
                                    <div class="text-left mt-5 ml-0">
                                        <div>Đã có tài khoản
                                            <a href="/auth/login">Đăng nhập</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->

</div>