<!-- Loader -->
<div id="global-loader">
    <img src="/public/libraries/img/loader.svg" class="loader-img" alt="Loader" />
</div>
<!-- End Loader -->

<!-- Page -->
<div class="page main-signin-wrapper w-100">

    <!-- Row -->
    <div class="row signpages text-center">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="row row-sm">
                    <div class="col-lg-6 col-xl-5 d-none d-lg-block text-center bg-primary details">
                        <div class="mt-5 pt-4 p-2 pos-absolute w-100">
                            <img src="/public/libraries/img/svgs/user.svg" class="ht-100 mb-0" alt="user" />
                            <h5 class="mt-4 text-white">Đăng nhập</h5>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7 col-xs-12 col-sm-12 login_form">
                        <div class="container-fluid">
                            <div class="row row-sm">
                                <div class="card-body mt-2 mb-2">
                                    <img src="https://perlaspa.com.vn/wp-content/uploads/2021/01/perla-spa-logo.jpg"
                                        class="d-lg-none header-brand-img text-left float-left mb-4" alt="logo" />
                                    <div class="clearfix"></div>
                                    <form action="/auth/login" method="post">
                                        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                                        <h5 class="text-left mb-3">Đặng nhập vào tài khoản</h5>
                                        <div class="form-group text-left">
                                            <label>Tên đăng nhập hoặc email</label>
                                            <input class="form-control" placeholder="Tên đăng nhập / Email" type="text"
                                                name="username" />
                                        </div>
                                        <div class="form-group text-left">
                                            <label>Mật khẩu</label>
                                            <input class="form-control" placeholder="Mật khẩu" type="password"
                                                name="password" />
                                        </div>
                                        <div class="alert alert-danger text-left" role="alert"
                                            style="display:{{displayError}};">
                                            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            {{message}}
                                        </div>
                                        <button class="btn ripple btn-main-primary btn-block">Đăng nhập</button>
                                    </form>
                                    <div class="text-left mt-5 ml-0">
                                        <div>Không có tài khoản ?
                                            <a href="/auth/signup">Đăng kí</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->

</div>