<!-- Sidemenu -->
<div class="main-sidebar main-sidebar-sticky side-menu">
	<div class="sidemenu-logo">
		<a class="main-logo" href="/index">
			<img src="/public/libraries/img/brand/logo-nft-deal.png" class="header-brand-img desktop-logo"
				style="height: 37px;" alt="logo">
			<img src="/public/libraries/img/brand/icon-light.png" class="header-brand-img icon-logo" alt="logo">
			<img src="/public/libraries/img/brand/logo.png" class="header-brand-img desktop-logo theme-logo" alt="logo">
			<img src="/public/libraries/img/brand/icon.png" class="header-brand-img icon-logo theme-logo" alt="logo">
		</a>
	</div>
	<div class="main-sidebar-body">
		<ul class="nav">
			<li class="nav-header"><span class="nav-label">Bảng điều khiển</span></li>
			{{#if isCustomer}}
			{{#each sideMenuUser}}
			<li class="nav-item">
				<a class="nav-link {{#if this.hasSubMenu}}with-sub{{/if}}" href="{{this.href}}"><span
						class="shape1"></span><span class="shape2"></span><i class="{{this.icon}}"></i><span
						class="sidemenu-label">{{this.label}}</span>
					{{#if this.hasBadge}}
					<span class="badge {{this.badgeColor}} side-badge">{{this.badge}}</span>
					{{else}}
					{{#if this.hasSubMenu}}
					<i class="angle fe fe-chevron-right"></i>
					{{/if}}
					{{/if}}
				</a>
				{{#if this.hasSubMenu}}
				<ul class="nav-sub">
					{{#each this.subMenu}}
					<li class="nav-sub-item">
						<a class="nav-sub-link" href="{{this.href}}">{{this.label}}</a>
					</li>
					{{/each}}
				</ul>
				{{/if}}
			</li>
			{{/each }}

			{{else}}
			{{#each sideMenu}}
			<li class="nav-item">
				<a class="nav-link {{#if this.hasSubMenu}}with-sub{{/if}}" href="{{this.href}}"><span
						class="shape1"></span><span class="shape2"></span><i class="{{this.icon}}"></i><span
						class="sidemenu-label">{{this.label}}</span>
					{{#if this.hasBadge}}
					<span class="badge {{this.badgeColor}} side-badge">{{this.badge}}</span>
					{{else}}
					{{#if this.hasSubMenu}}
					<i class="angle fe fe-chevron-right"></i>
					{{/if}}
					{{/if}}
				</a>
				{{#if this.hasSubMenu}}
				<ul class="nav-sub">
					{{#each this.subMenu}}
					<li class="nav-sub-item">
						<a class="nav-sub-link" href="{{this.href}}">{{this.label}}</a>
					</li>
					{{/each}}
				</ul>
				{{/if}}
			</li>
			{{/each }}
			{{/if}}
		</ul>
	</div>
</div>
<!-- End Sidemenu -->