<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <meta name="description" content="Spruha -  Admin Panel HTML Dashboard Template" />
    <meta name="author" content="Spruko Technologies Private Limited" />
    <meta name="keywords"
        content="admin,dashboard,panel,bootstrap admin template,bootstrap dashboard,dashboard,themeforest admin dashboard,themeforest admin,themeforest dashboard,themeforest admin panel,themeforest admin template,themeforest admin dashboard,cool admin,it dashboard,admin design,dash templates,saas dashboard,dmin ui design" />

    <!-- Favicon -->
    <link rel="icon" href="/public/libraries/img/brand/favicon.ico" type="image/x-icon" />

    <!-- Title -->
    <title>Signup</title>

    <!-- Bootstrap css-->
    <link href="/public/libraries/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Icons css-->
    <link href="/public/libraries/plugins/web-fonts/icons.css" rel="stylesheet" />
    <link href="/public/libraries/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <link href="/public/libraries/plugins/web-fonts/plugin.css" rel="stylesheet" />

    <!-- Style css-->
    <link href="/public/libraries/css/style.css" rel="stylesheet" />
    <link href="/public/libraries/css/skins.css" rel="stylesheet" />
    <link href="/public/libraries/css/dark-style.css" rel="stylesheet" />
    <link href="/public/libraries/css/colors/default.css" rel="stylesheet" />

    <!-- Color css-->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="/public/libraries/css/colors/color.css" />

</head>

<body class="main-body leftmenu">
    {{{body}}}
    <!-- Jquery js-->
    <script src="/public/libraries/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap js-->
    <script src="/public/libraries/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/public/libraries/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Select2 js-->
    <script src="/public/libraries/plugins/select2/js/select2.min.js"></script>

    <!-- Custom js -->
    <script src="/public/libraries/js/custom.js"></script>
</body>

</html>