<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mail Account</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            color: #6259ca;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
        }

        .header {
            background-color: #6259ca;
            color: #ffffff;
            text-align: center;
            padding: 20px;
        }

        .header h1 {
            margin: 0;
            font-size: 32px;
        }

        .content {
            padding: 40px;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }

        .content p {
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 20px;
        }

        .footer {
            background-color: #d8d3d3;
            color: #000000;
            text-align: center;
            padding: 20px;
        }

        .footer p {
            margin: 0;
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Hi Super Admin</h1>
        </div>
        <div class="content">
            <p><strong>you just created a new account on {{urlApi}}</strong></p>
            <p><strong>Username:</strong> "{{username}}"</p>
            <p><strong>Password:</strong> "{{password}}"</p>
        </div>
        <div class="footer">
            <div class="main-footer text-center">
                <div class="container">
                    <div class="row row-sm">
                        <div class="col-md-12">
                            <span>Copyright © 2023
                                <a href="https://nftdeal.io">Nftdeal</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>