<!-- Javascript scope -->
{{#section 'javascript_scope'}}
<!-- Custom JS js-->

<script>
    $('#open-modal').click(function (e) {
        e.preventDefault();
        helper.show('http://localhost:3000/modals/large', 'Large Modal')
    });

</script>

{{/section}}



<b>{{message}}</b> <!-- variable from Response  -->
<b>{{title}} {{ arrayItem }}</b><!-- variable from Response  -->
<p>{{__ 'home-last-text-3' }}</p> <!-- variable for template  -->
<p>{{__ 'home-last-text-4'}}</p>
<p>{{__ 'home-last-text-5'}}</p>
<p>{{__ 'home-last-text-6'}}</p>
<a href="/switch-lang/en"><button>English</button></a>
<a href="/switch-lang/vi"><button>Tiếng việt</button></a>
<button id="open-modal">Show modal</button>
