{{!-- CSS scope --}}
{{#section 'css_scope'}}
<!-- Internal DataTables css-->
<link href="/public/libraries/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/responsivebootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/fileexport/buttons.bootstrap4.min.css" rel="stylesheet" />

<!-- Switch css -->
<link href="/public/libraries/css/views/switch.css" rel="stylesheet">
<link href="/public/app/css/custom.css" rel="stylesheet">

{{/section}}

{{!-- JS Scope --}}
{{#section 'javascript_scope'}}

<!-- Internal Data Table js -->
<script src="/public/libraries/plugins/datatable/jquery.dataTables.min.js"></script>
<script src="/public/libraries/plugins/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/public/libraries/plugins/datatable/dataTables.responsive.min.js"></script>

{{!-- Javascript --}}
<script>
    let dataTable
    $(document).ready(function () {

        dataTable = $('#employees_checkin_data').DataTable({
            'searching': false,
            'processing': true,
            'serverSide': true,
            'serverMethod': 'get',
            "bPaginate": false,
            'columnDefs': [
                {
                    'targets': '_all',
                    'orderSequence': ['desc', 'asc']
                },
            ],
            'ajax': {
                'url': '/salaries/datatable/{{employee.id}}',
                'type': 'get',
                'data': function (data) {
                }
            },
            'aaSorting': [],
            'columns': [
                { data: 'date' },
                { data: 'dayShift' },
                { data: 'noonShift' },
            ]
        });

        $(document).on('submit', '.create-salary-form', (e) => {
            $('#global-loader').show();
            e.preventDefault();
            formHelper.postFormJson(
                e.currentTarget.getAttribute('id'),
                (data) => {
                    $('#global-loader').hide();
                    dialog.close();
                    displayToast(data.status, data.message);
                    dataTable.draw();
                },
                (errors) => {
                    $('#global-loader').hide();
                    const erorrsJSON = errors.responseJSON;
                    if (erorrsJSON.status == 'error') {
                        dialog.close();
                        displayToast(erorrsJSON.status, erorrsJSON.message);
                    }
                },
            );
        });

        $(document).on('submit', '.delete-salary-form', (e) => {
            $('#global-loader').show();
            e.preventDefault();
            formHelper.postFormJson(
                e.currentTarget.getAttribute('id'),
                (data) => {
                    $('#global-loader').hide();
                    dialog.close();
                    displayToast(data.status, data.message);
                    dataTable.draw();
                },
                (errors) => {
                    $('#global-loader').hide();
                    const erorrsJSON = errors.responseJSON;
                    if (erorrsJSON.status == 'error') {
                        dialog.close();
                        displayToast(erorrsJSON.status, erorrsJSON.message);
                    }
                },
            );
        });

        $(document).on("change", ".check-in", function (e) {
            if (this.checked) {
                $(`#form-create-salary-${$(this).data('index')}`).submit()
            } else {
                $(`#form-delete-salary-${$(this).data('index')}`).submit()
            }
        });
    });

    $('#btn-export-salaries').on('click', (e) => {
        $('#global-loader').show();
        $.ajax({
            url: `/salaries/exportSalary/${$('#btn-export-salaries').data('id')}`,
            method: 'get',
            error: function (errors) {
                const erorrsJSON = errors.responseJSON;
                if (erorrsJSON.status == 'error') {
                    dialog.close();
                    displayToast(erorrsJSON.status, erorrsJSON.message);
                } else {
                    renderErrorFormException(JSON.parse(erorrsJSON));
                }
            },
            success: function (response) {
                try {
                    download(response);
                    $('#global-loader').hide();
                } catch (error) {
                    $('#global-loader').hide();
                }
            },
        });
    });

    function convertToCSV(objArray) {
        var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
        var str = '';

        for (var i = 0; i < array.length; i++) {
            var line = '';
            for (var index in array[i]) {
                if (line != '') line += ',';

                line += array[i][index];
            }

            str += line + '\r\n';
        }

        return str;
    }

    function exportCSVFile(headers, items, fileTitle, employeeName, employeeSalary, totalSalary) {
        if (headers) {
            items.unshift(headers);
        }

        items.unshift({
            '1': 'Luong / ca',
            '2': employeeSalary
        })

        items.unshift({
            '1': 'Ten',
            '2': employeeName
        })



        items.push({
            '1': 'Tong luong',
            '2': totalSalary
        })

        // Convert Object to JSON
        var jsonObject = JSON.stringify(items);

        var csv = this.convertToCSV(jsonObject);

        var exportedFilenmae = fileTitle + '.csv' || 'export.csv';

        var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
        if (navigator.msSaveBlob) {
            // IE 10+
            navigator.msSaveBlob(blob, exportedFilenmae);
        } else {
            var link = document.createElement('a');
            if (link.download !== undefined) {
                // feature detection
                // Browsers that support HTML5 download attribute
                var url = URL.createObjectURL(blob);
                link.setAttribute('href', url);
                link.setAttribute('download', exportedFilenmae);
                link.style.visibility = 'hidden';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }
    }

    function download(data) {
        const employeeName = data[0].employee.name;
        const employeeSalary = data[0].employee.salary_range;
        const totalSalary = data.length * employeeSalary

        var headers = {
            date: 'Ngay',
            day: 'Ca sang',
            noon: 'Ca chieu',
        };
        var itemsFormatted = [];

        var salary = {}

        data.forEach((item) => {
            const newDate = new Date(item.checkinDate);
            newDate.setHours(newDate.getHours() + 7);
            const date = newDate.toISOString().split('T')[0]
            if (!salary[date]) salary[date] = {}
            if (item.shift == 1) {
                salary[date].day = 'X'
            }

            if (item.shift == 2) {
                salary[date].noon = 'X'
            }
        });

        for (i in salary) {
            itemsFormatted.push({
                date: i,
                day: salary[i].day ? salary[i].day : '',
                noon: salary[i].noon ? salary[i].noon : ''
            })
        }

        const today = new Date()
        var fileTitle = today.toISOString().split('T')[0] + '-' + employeeName; // or 'my-unique-title'
        exportCSVFile(headers, itemsFormatted, fileTitle, employeeName, employeeSalary, totalSalary); // call the exportCSVFile() function to process the JSON and trigger the download
    }

</script>
{{/section}}

{{!-- BreadScrum --}}
{{#section 'page_header'}}
<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">{{employee.name}} Chấm công</h2>
    </div>
</div>
<!-- End Page Header -->
{{/section}}

<style>
    .create-salary-form .check-in {
        width: 20px;
        height: 20px;
    }

    .create-salary-form .check-in:hover {
        cursor: pointer;
    }

    #employees_checkin_data_processing {
        display: none !important;
    }
</style>

<!-- Datatable -->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <button class="btn ripple btn-primary pd-x-30 mg-r-5 mb-3" data-id="{{employee.id}}"
                    id="btn-export-salaries">Xuất bảng chấm
                    công</button>
                <div class="table-responsive">
                    <table class="table w-100" id="employees_checkin_data">
                        <thead>
                            <tr>
                                <th class="wd-5p">Ngày</th>
                                <th class="wd-10p">Ca sáng</th>
                                <th class="wd-10p">Ca chiều</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>
<!-- End Datatable -->