{{!-- CSS scope --}}
{{#section 'css_scope'}}

<!-- DateRangePicker css -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link href="/public/app/css/report.css" rel="stylesheet">
{{/section}}

{{!-- JS Scope --}}
{{#section 'javascript_scope'}}
<!-- Chart js-->
<script>
    const reportUserType = JSON.parse('{{{json reportUserType }}}');
</script>
<script src="/public/libraries/plugins/chart.js/Chart.bundle.min.js"></script>
<script src="/public/libraries/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/public/libraries/plugins/peity/jquery.peity.min.js"></script>
<script src="/public/app/js/report.js"></script>

<!-- DateRangePicker js -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

{{/section}}

{{!-- BreadScrum --}}
{{#section 'page_header'}}
<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Report</h2>
    </div>
</div>
<!-- End Page Header -->
{{/section}}

<div class="row row-sm">
    <div class="col-lg-12 col-xxl-9">
        <div class="card custom-card overflow-hidden">
            <div class="card-body d-flex flex-wrap">
                <div class="col-lg-4 border-lg-end bd-r pb-3 pb-lg-0">
                    <div class="mb-3 d-flex align-items-center">
                        <i class="mdi mdi-account-circle fs-3"></i>
                        <h6 class="mb-1 ml-2">Users growth last week </h6>
                    </div>
                    <div class="d-lfex">
                        <div class="d-flex">
                            <div class="d-flex">
                                <h2 class="pr-2 mb-1 text-grey">{{ weekReportUser.growthRate }}%</h2>
                                <div class="d-flex flex-column pr-2 mb-1 ">
                                    {{#renderCaret weekReportUser.growthRate}}

                                    {{/renderCaret}}
                                    <span class="text-grey fs--2 mb-0 text-nowrap">{{
                                        weekReportUser.totalUserLastWeek
                                        }}
                                        vs
                                        {{ weekReportUser.totalUserThisWeek }}</span>
                                </div>
                            </div>
                            <span class="peity-line"
                                data-peity='{ "fill": "rgba(235, 111, 51,.2)", "stroke": "#53caed", "height": 35, "width": null }'>{{
                                weekReportUser.dataUserGrowthThisWeek }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border-lg-end bd-r pb-3 pb-lg-0 ">
                    <div class="mb-3 d-flex align-items-center">
                        <i class="mdi mdi-account-circle fs-3"></i>
                        <h6 class="mb-1 ml-2">Assets growth last week</h6>
                    </div>
                    <div class="d-lfex">
                        <div class="d-flex">
                            <div class="d-flex">
                                <h2 class="pr-2 mb-1 text-grey">{{ weekReportAsset.growthRate }}%</h2>
                                <div class="d-flex flex-column pr-2 mb-1 ">
                                    {{#renderCaret weekReportAsset.growthRate}}
                                    {{/renderCaret}}
                                    <span class="text-grey fs--2 mb-0 text-nowrap">{{
                                        weekReportAsset.totalAssetLastWeek
                                        }}
                                        vs
                                        {{ weekReportAsset.totalAssetThisWeek }}</span>
                                </div>
                            </div>
                            <span class="peity-line"
                                data-peity='{ "fill": "rgba(235, 111, 51,.2)", "stroke": "#53caed", "height": 35, "width": null }'>{{
                                weekReportAsset.dataAssetGrowthThisWeek }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border-lg-end pb-3 pb-lg-0 ">
                    <div class="mb-3 d-flex align-items-center">
                        <i class="mdi mdi-account-circle fs-3"></i>
                        <h6 class="mb-1 ml-2">Peity Area Chart</h6>
                    </div>
                    <div class="d-lfex">
                        <div class="d-flex">
                            <div class="d-flex">
                                <h2 class="pr-2 mb-1 text-grey">15%</h2>
                                <div class="d-flex flex-column pr-2 mb-1 ">
                                    <i class="fa fa-caret-up growth-rate-up"></i>
                                    <span class="text-grey fs--2 mb-0 text-nowrap">2500 vs 2683</span>
                                </div>
                            </div>
                            <span class="peity-line"
                                data-peity='{ "fill": "rgba(235, 111, 51,.2)", "stroke": "#53caed", "height": 35, "width": null }'>10,4,4,7,5,9,10</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-header d-flex flex-between-center ps-0 py-0 border-bottom">
                <ul class="nav nav-tabs border-0 flex-nowrap tab-active-caret" id="crm-users-chart-tab" role="tablist"
                    data-tab-has-echarts="data-tab-has-echarts">
                    <li class="nav-item">
                        <a data-target="#crm-users" class="nav-link active" data-toggle="tab" role="tablist"
                            href="#crm-users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a data-target="#crm-assets" class="nav-link" data-toggle="tab" role="tablist"
                            href="#crm-assets">Assets</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane show active" id="crm-users" role="tabpanel"
                                        aria-labelledby="crm-users-tab">
                                        <div class="row justify-content-between px-5">
                                            <div class="col-md-3 col-12">
                                                <h3 class="text-grey">Total growth : <span id="total-growth"></span>
                                                </h3>
                                            </div>
                                            <div class="col-md-9 col-12">
                                                <div class="row align-items-center g-3 justify-content-end flex-nowrap">
                                                    <div class="col-auto">
                                                        <h6>Showing data for : </h6>
                                                    </div>
                                                    <div class="col-md-auto position-relative">
                                                        <i
                                                            class="fe fe-calendar fs-2 pl-1 position-absolute top-50 translate-middle-y ms-2"></i>
                                                        <input class="ps-4 daterange" type="text" name="daterange"
                                                            id="daterange" value="01/01/2018 - 01/15/2018" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chartjs-wrapper-demo">
                                            <canvas id="GrowthRateChartLine" class="mt-5"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xxl-3">
        <div class="card custom-card">
            <div class="card custom-card overflow-hidden">
                <div class="card-header d-flex flex-between-center py-2 border-bottom">
                    <h4 class="mb-0">Most Users</h4>
                </div>
                <div class="card-body card-body d-flex flex-column justify-content-between">
                    <div class="row align-items-center">
                        <div class="col-md-5 col-xxl-12 mb-xxl-1">
                            <div class="position-relative">
                                <div class="chartjs-wrapper-demo">
                                    <canvas id="chartPie"></canvas>
                                </div>
                                <div class="position-absolute top-50 start-50 translate-middle text-center">
                                    <p class="fs--1 mb-0 text-400 font-sans-serif fw-medium">Total</p>
                                    <p class="fs-3 mb-0 font-sans-serif fw-medium mt-n2">{{ totalUser }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-xxl-12 mb-xxl-1">
                            {{#with reportUserType as | report |}}
                            {{#each report.label}}
                            <div class="container border-bottom pt-3 pt-xxl-3 text-grey">
                                <div class="row w-100 justify-content-between">
                                    <div class="col-4 text-start">
                                        <h6 class="text-700 mb-0">{{lookup report.label @index}}
                                        </h6>
                                    </div>
                                    <div class="col-4 text-center">
                                        <p class="fs--1 text-500 mb-0 fw-semi-bold">{{lookup report.data @index}}
                                    </div>
                                    <div class="col-4 text-right">
                                        <h6 class="text-700 mb-0">{{lookup report.rate @index}}%</h6>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/with}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>