{{!-- CSS scope --}}
{{#section 'css_scope'}}
<!-- Internal DataTables css-->
<link href="/public/libraries/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/responsivebootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/fileexport/buttons.bootstrap4.min.css" rel="stylesheet" />

<!-- Switch css -->
<link href="/public/libraries/css/views/switch.css" rel="stylesheet">
<link href="/public/app/css/custom.css" rel="stylesheet">
{{/section}}

{{!-- JS Scope --}}
{{#section 'javascript_scope'}}

<!-- Internal Data Table js -->
<script src="/public/libraries/plugins/datatable/jquery.dataTables.min.js"></script>
<script src="/public/libraries/plugins/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/public/libraries/plugins/datatable/dataTables.responsive.min.js"></script>

{{!-- Javascript --}}
<script>
    let dataTable
    $(document).ready(function () {

        dataTable = $('#productGroups_data').DataTable({
            'searching': false,
            'processing': true,
            'serverSide': true,
            'serverMethod': 'get',
            'columnDefs': [
                {
                    'targets': '_all',
                    'orderSequence': ['desc', 'asc']
                },
            ],
            'ajax': {
                'url': '/product-group/datatable',
                'type': 'get',
                'data': function (data) {
                    const filter = {};

                    $('.filter-field').each(function (index) {
                        if ($(this).val().length == 0) {
                            return
                        }
                        filter[$(this).attr('name')] = $(this).val();
                    })

                    data.filter = filter;
                }
            },
            'aaSorting': [],
            'columns': [
                { data: 'id' },
                { data: 'name' },
                { data: 'parentName' },
                { data: 'action' },
            ]
        });

        $('#btn-filter').on('click', (e) => {
            dataTable.draw();
        })

        $('#btn-add-product-group').on('click', (e) => {
            const apiUrl = '/product-group/modal-create';
            helper.show(apiUrl, 'Thêm nhóm sản phẩm');
        });

        $(document).on('click', '.open-update-modal', (e) => {
            const clickedElement = $(e.target);
            const id = clickedElement.data('id');
            const apiUrl = '/product-group/modal-update' + `/${id}`;
            helper.show(apiUrl, 'Cập nhật nhóm sản phẩm');
        });

        $(document).on('click', '.open-delete-modal', (e) => {
            const clickedElement = $(e.target);
            const id = clickedElement.data('id');
            const apiUrl = '/product-group/modal-delete' + `/${id}`;
            helper.show(apiUrl, 'Xóa nhóm sản phẩm');
        });


        $(document).on('submit', '#create-product-group-form', (e) => {
            $('#global-loader').show();
            e.preventDefault();
            formHelper.postFormJson(
                'create-product-group-form',
                (data) => {
                    $('#global-loader').hide();
                    dialog.close();
                    displayToast(data.status, data.message);
                    dataTable.draw();
                },
                (errors) => {
                    $('#global-loader').hide();
                    const erorrsJSON = errors.responseJSON;
                    if (erorrsJSON.status == 'error') {
                        displayToast(erorrsJSON.status, erorrsJSON.message);
                    } else {
                        renderErrorFormException(JSON.parse(erorrsJSON));
                    }
                },
            );
        });

        $(document).on('submit', '#update-product-group-form', (e) => {
            $('#global-loader').show();
            e.preventDefault();
            formHelper.postFormJson(
                'update-product-group-form',
                (data) => {
                    $('#global-loader').hide();
                    dialog.close();
                    displayToast(data.status, data.message);
                    dataTable.draw();
                },
                (errors) => {
                    $('#global-loader').hide();
                    const erorrsJSON = errors.responseJSON;
                    if (erorrsJSON.status == 'error') {
                        dialog.close();
                        displayToast(erorrsJSON.status, erorrsJSON.message);
                    } else {
                        renderErrorFormException(JSON.parse(erorrsJSON));
                    }
                },
            );
        });

        $(document).on('submit', '#delete-product-group-form', (e) => {
            $('#global-loader').show();
            e.preventDefault();
            formHelper.postFormJson(
                'delete-product-group-form',
                (data) => {
                    $('#global-loader').hide();
                    dialog.close();
                    displayToast(data.status, data.message);
                    dataTable.draw();
                },
                (errors) => {
                    $('#global-loader').hide();
                    const erorrsJSON = errors.responseJSON;
                    if (erorrsJSON.status == 'error') {
                        dialog.close();
                        displayToast(erorrsJSON.status, erorrsJSON.message);
                    }
                },
            );
        });
    });


</script>
{{/section}}

{{!-- BreadScrum --}}
{{#section 'page_header'}}
<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Nhóm dịch vụ</h2>
    </div>
</div>
<!-- End Page Header -->
{{/section}}

<div class="row row-sm">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <button class="btn ripple btn-primary pd-x-30 mg-r-5 mb-3" style="float: left;"
                    id="btn-add-product-group">Thêm nhóm dịch vụ</button>
            </div>
        </div>
    </div>
</div>


<!-- Datatable -->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Lọc bởi...</h6>
                    <br />
                </div>
                <div class="row row-sm mb-5">
                    <div class="col-lg-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    Tên:
                                </div>
                            </div>
                            <input class="form-control filter-field" name="name" placeholder="Tìm kiếm bởi tên..."
                                type="text" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-primary" id="btn-filter">Tìm kiếm</button><br />
                        <span class="error invalid-feedback" id="error-filters-currencies" style="display:none"></span>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table w-100" id="productGroups_data">
                        <thead>
                            <tr>
                                <th class="wd-5p">ID</th>
                                <th class="wd-10p">Tên</th>
                                <th class="wd-10p">Nhóm cha</th>
                                <th class="wd-10p">Hành động</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Datatable -->