<div class="custom-switch custom-switch-label-yesno custom-switch-sm pl-0">
    <input class="custom-switch-input trigger-modal switch-button" data-type="{{type}}" id="switch-modal-{{type}}-{{id}}"
        type="checkbox" data-id="{{id}}" {{checked}}>
    <label class="custom-switch-btn" for="switch-modal-{{type}}-{{id}}"></label>
</div>
