<div class="modal-body">
    <form id="booking-form" action="/rooms/book" method="POST">
        <input type="hidden" name="room_id" value="{{ roomId }}">
        <input type="hidden" name="customer_id" value="{{ customerId }}">
        <input type="hidden" name="book_date" value="{{ bookDate }}">
        <input type="hidden" name="startHour" value="{{ dataTime.hour }}">
        <input type="hidden" name="startMin" value="{{ dataTime.min }}">
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-12 col-12 mg-b-20">
                <div class="mg-b-0">
                    <h4>From: {{ dataTime.hour }}h{{dataTime.min}}</h4>
                </div>
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-12 col-12 mg-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <label class="mg-b-0">Chọn dịch vụ: </label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0">
                        <select name="product_id" class="select2" onchange="getval(this);">
                            <option disabled selected>Chọn một dịch vụ</option>
                            {{#each services}}
                            <option value="{{this.id}}">
                                {{this.name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20 d-none" id="row-service-info">
            <div class="col-md-12 col-12 mg-b-20">
                <h3 class="mg-b-0 text-center">Thông tin dịch vụ </h3>
                <div class="col-md-12 mg-t-5 mg-md-t-0">
                    <img src="" id="service-img">
                    <p id="service-price"></p>
                    <p id="service-duration"></p>
                    <p id="service-description"></p>
                </div>
            </div>
        </div>
</div>
<div class="form-group row justify-content-end mb-0 pb-4">
    <div class="col-md-8 pl-md-2">
        <button id="submitBooking" type="submit" class="btn ripple btn-primary pd-x-30 mg-r-5">Đặt</button>
        <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Hủy</button>
    </div>
</div>
</form>
</div>

<script>
    function getval(e) {
        $.get("/products/single/" + e.value, function (data, status) {
            const info = JSON.parse(data)
            $('#service-price').text('Giá : ' + info.price)
            $('#service-duration').text('Thời gian : ' + info.duration)
            $('#service-description').text('Mô tả : ' + info.description)
            $('#service-img').attr('src', info.img)
            $('#row-service-info').removeClass('d-none')
        });
    }
</script>