<div class="modal-body">
    <form id="confirm-booked-form" method="POST" action="/rooms/confirm/{{transaction.id}}">
        <p>Bạn có chắc muốn xác nhận đơn đặt dịch vụ {{ transaction.product.name }} của {{ transaction.customer.name }}
            tại phòng {{
            transaction.room.name }} ?</p>
        <span class="mdl-textfield__error error-text" id="error-confirm-booked">{{errors}}</span>
        <button class="btn ripple btn-primary" type="submit">Xác nhận</button>
        <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Hủy</button>
    </form>
</div>