<div class="modal-body">
    <form id="reject-booked-form" method="POST" action="/rooms/reject/{{transaction.id}}">
        <p>Bạn có chắc muốn hủy đơn đặt dịch vụ {{ transaction.product.name }} của {{ transaction.customer.name }}
            tại phòng {{
            transaction.room.name }} ?</p>
        <span class="mdl-textfield__error error-text" id="error-reject-booked">{{errors}}</span>
        <button class="btn ripple btn-primary" type="submit">Hủy</button>
        <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Quay lại</button>
    </form>
</div>