.currency-item:hover {
  background-color: rgb(180, 178, 178);
  color: #fff;
}

.action-trigger-modal {
  cursor: pointer;
  margin: 0 5px;
}

.action-delete {
  color: red;
}

.action-update {
  color: green;
}

#output-upload {
  max-width: 200px;
  max-height: 200px;
}

textarea {
  min-height: 130px;
}

.table-responsive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.table-responsive::-webkit-scrollbar {
  border-radius: 12px;
  width: 20px;
  height: 7px;
  background-color: #f5f5f5;
}

.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #333;
}

.btn.disabled:hover {
  cursor: no-drop;
}
