<div class="modal-body">
    <form id="update-customer-form" action="/customers/update" method="POST">
        <input type="hidden" name="id" value="{{customer.id}}">
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4">
                <label class="mg-b-0">Tên</label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <input class="form-control" name="name" placeholder="Nhập tên" type="text" value="{{customer.name}}">
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4">
                <label class="mg-b-0">Email</label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                <input class="form-control" name="email" placeholder="Nhập Email" type="text"
                    value="{{customer.email}}">
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4">
                <label class="mg-b-0">Mật khẩu</label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                <input class="form-control" name="password" placeholder="Nhập Mật khẩu" type="text">
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4">
                <label class="mg-b-0">Số điện thoại</label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                <input class="form-control" name="phone_number" placeholder="Nhập Số điện thoại" type="text"
                    value="{{customer.phone_number}}">
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4">
                <label class="mg-b-0">Giới tính</label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                <select name="gender" id="select-gender">
                    <option disabled>Chọn giới tính</option>
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                    <option value="others">Khác</option>
                </select>
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4">
                <label class="mg-b-0">Địa chỉ</label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                <input class="form-control" name="address" placeholder="Nhập Địa chỉ" type="text"
                    value="{{customer.address}}">
            </div>
        </div>
        <div class="form-group row justify-content-end mb-0">
            <div class="col-md-8 pl-md-2">
                <button id="submitUpdateCustomer" type="submit" class="btn ripple btn-primary pd-x-30 mg-r-5">Cập
                    nhật</button>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Hủy</button>
            </div>
        </div>
    </form>
</div>

<script>
    var gender = "{{ customer.gender }}";
    $(`#select-gender option[value=${gender}]`).attr('selected', 'selected');
</script>