{{!-- CSS scope --}}
{{#section 'css_scope'}}
<!-- Internal DataTables css-->
<link href="/public/libraries/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/responsivebootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/fileexport/buttons.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" id="font-css" href="//pagecdn.io/lib/easyfonts/fonts.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="wp-block-library-css"
    href="https://perlaspa.com.vn/wp-includes/css/dist/block-library/style.min.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="classic-theme-styles-css"
    href="https://perlaspa.com.vn/wp-includes/css/classic-themes.min.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="campus-gfonts-karla-css"
    href="//fonts.googleapis.com/css?family=Karla%3A400%2C700&amp;ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="campus-gfonts-montserrat-css"
    href="//fonts.googleapis.com/css?family=Montserrat%3A300%2C400%2C500%2C600%2C700&amp;ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="campus-gfonts-roboto-css"
    href="//fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C700&amp;ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="campus-gfonts-playfair-css"
    href="//fonts.googleapis.com/css?family=Playfair+Display%3A400%2C700&amp;ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="campus-gfonts-greatvibes-css"
    href="//fonts.googleapis.com/css?family=Great+Vibes&amp;ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="belleza-basic-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/style.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="belleza-editor-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/editor-style.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="belleza-base-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/default.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="belleza-nivo-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/nivo-slider.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-font-awesome-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/font-awesome.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-testimonialslider-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/testimonialsrotator/js/tm-rotator.css?ver=6.2.3"
    type="text/css" media="all">
<link rel="stylesheet" id="belleza-responsive-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/responsive.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-owl-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/testimonialsrotator/js/owl.carousel.css?ver=6.2.3"
    type="text/css" media="all">
<link rel="stylesheet" id="belleza-mixitup-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/mixitup/style-mixitup.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-fancybox-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/jquery.fancybox.min.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-wow-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/animate.css?ver=6.2.3" type="text/css" media="all">

<!-- Switch css -->
<link href="/public/libraries/css/views/switch.css" rel="stylesheet">
<link href="/public/app/css/custom.css" rel="stylesheet">
{{/section}}


<div id="top" class="home blog theme-belleza-pro woocommerce-js none group-blog">
    <div id="pagewrap">

        <div class="header-top">
            <div class="container">
                <div class="left">
                    <span><i class="fa fa-phone"></i>+84 359 800 818</span><span><i class="fa fa-envelope"></i><a
                            href="mailto:perla.spa.vn@gmail.com" style="color: #fff;">perla.spa.vn@gmail.com</a></span>
                </div><!-- left -->
                <div class="right" style="padding: 10px 0;">
                    <span>
                        {{#if user}}
                        <a href="/logout" style="color: #fff;"> {{ user.name }}, Đăng xuất</a>
                        {{else}}
                        <a href="/auth/login" style="color: #fff;">Đăng nhập /</a>
                        <a href="/auth/signup" style="color: #fff;">Đăng ký</a>
                        {{/if}}
                    </span>
                </div>
                <div class="clear"></div>
            </div><!-- container -->
        </div><!-- header-top -->

        <div class="header">
            <div class="header-inner">
                <div class="logo">
                    <a href="/">
                        <h1>Perla Spa Hà Nội</h1>
                    </a>
                    <p>𝐒𝐤𝐢𝐧𝐜𝐚𝐫𝐞 – 𝐌𝐚𝐬𝐬𝐚𝐠𝐞 – 𝐇𝐞𝐚𝐝𝐜𝐚𝐫𝐞</p>
                </div><!-- .logo -->

                <div class="header-right">
                    <div class="bookonline">
                        <a href="#">
                            <div>Đặt lịch<span> Online</span></div>
                        </a>
                    </div><!-- bookonline -->


                    <div class="sitenav">
                        <div class="menu-menu-chinh-container">
                            <ul id="menu-menu-chinh" class="menu">
                                <li id="menu-item-529"
                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-529">
                                    <a href="http://localhost:5000/" aria-current="page">Trang chủ</a>
                                </li>
                                <li id="menu-item-537"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-537"><a
                                        href="http://localhost:5000/views/1/">Dịch vụ</a></li>
                                <li id="menu-item-538"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-538"><a
                                        href="http://localhost:5000/booking/">Đặt phòng</a></li>
                            </ul>
                        </div>
                    </div><!--.sitenav -->
                    <div class="clear"></div>
                </div><!--header-right-->
                <div class="clear"></div>
            </div><!-- .header-inner-->
        </div><!-- .header -->

        <div class="main-content pt-0" style="border-top: 1px solid #000;">

            <div class="container">
                <div class="inner-body">

                    <!-- Page Header -->
                    <div class="page-header">
                        <div>
                            <h2 class="main-content-title tx-24 mg-b-5">Chi tiết dịch vụ</h2>
                        </div>
                    </div>
                    <!-- End Page Header -->

                    <!-- Row -->
                    <div class="row row-sm">
                        <div class="col-lg-12 col-md-12">
                            <div class="card custom-card productdesc">
                                <div class="card-body h-100">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 col-md-12">
                                            <div class="row"><img src="{{products.img}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-xl-6 col-md-12">
                                            <div class="mt-4 mb-4">
                                                <h4 class="mt-1 mb-3">{{products.name}}</h4>
                                                <h5 class="mb-2">Giá : <b> {{products.price}} VND</b></h5>
                                                <h6 class="mt-4 fs-16">Mô tả</h6>
                                                <p>{{products.description}}</p>
                                            </div>
                                            <a class="mt-2 btn ripple btn-primary btn-lg"
                                                href="http://localhost:5000/booking">Đặt</a>

                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <h5 class="mb-3">Đặc điểm :</h5>
                                        <div class="">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="table-responsive">
                                                        <table class="table mb-0 border-top table-bordered text-nowrap">
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row">Nhóm dịch vụ</th>
                                                                    <td>{{products.productGroup.name}}</td>
                                                                </tr>
                                                                {{!-- <tr>
                                                                    <th scope="row">Đơn vị</th>
                                                                    <td>{{products.unit}}</td>
                                                                </tr> --}}
                                                                <tr>
                                                                    <th scope="row">Giá</th>
                                                                    <td>{{ products.price }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row -->
                </div>
            </div>
        </div>

        <div id="footer-wrapper">

            <div class="container">
                <div class="cols-3 widget-column-1">
                    <h5>Thông tin liên lạc</h5>
                    <p>PERLA SPA

                        Headcare - Massage - Skincare</p>
                    <div class="contactdetail">
                        <p><i class="fa fa-map-marker"></i> 🏠 CS1: 4/73 Hoàng Cầu, Đống Đa, Hà Nội.


                            🏠 CS2: Số 20 Lô C, ngõ 26 Vạn Phúc, Liễu Giai, Hà Nội.


                            Facebook.com/perlaspahanoi
                        </p>

                        <p><i class="fa fa-envelope"></i><a
                                href="mailto:perla.spa.vn@gmail.com">perla.spa.vn@gmail.com</a></p>


                        <p><i class="fa fa-phone"></i>0359800818 và 0359800989</p>

                    </div><!-- contactdetail -->
                </div><!-- cols-3.widget-column-1 -->


                <div class="cols-3 widget-column-2">
                    <h5></h5>

                </div><!-- cols-3.widget-column-2 -->


                <div class="cols-3 widget-column-3">
                    <h5></h5>
                </div><!-- cols-3.widget-column-3 -->

                <div class="cols-3 widget-column-4">
                </div><!-- cols-4.widget-column-4 -->

                <div class="clear"></div>
            </div><!--end .container-->

        </div><!-- footer-wrapper -->
        <div id="back-top" style="display: none;">
            <a title="Top of Page" href="#top"><span></span></a>
        </div>
        <link rel="stylesheet" id="belleza-gfonts-css"
            href="//fonts.googleapis.com/css?family=Roboto%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CRoboto%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CPlayfair+Display&amp;ver=6.2.3"
            type="text/css" media="all">
    </div>
</div>