{{!-- CSS scope --}}
{{#section 'css_scope'}}
<!-- Internal DataTables css-->
<link href="/public/libraries/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/responsivebootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/fileexport/buttons.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" id="font-css" href="//pagecdn.io/lib/easyfonts/fonts.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="wp-block-library-css"
    href="https://perlaspa.com.vn/wp-includes/css/dist/block-library/style.min.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="classic-theme-styles-css"
    href="https://perlaspa.com.vn/wp-includes/css/classic-themes.min.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="campus-gfonts-karla-css"
    href="//fonts.googleapis.com/css?family=Karla%3A400%2C700&amp;ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="campus-gfonts-montserrat-css"
    href="//fonts.googleapis.com/css?family=Montserrat%3A300%2C400%2C500%2C600%2C700&amp;ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="campus-gfonts-roboto-css"
    href="//fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C700&amp;ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="campus-gfonts-playfair-css"
    href="//fonts.googleapis.com/css?family=Playfair+Display%3A400%2C700&amp;ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="campus-gfonts-greatvibes-css"
    href="//fonts.googleapis.com/css?family=Great+Vibes&amp;ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="belleza-basic-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/style.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="belleza-editor-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/editor-style.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="belleza-base-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/default.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="belleza-nivo-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/nivo-slider.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-font-awesome-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/font-awesome.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-testimonialslider-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/testimonialsrotator/js/tm-rotator.css?ver=6.2.3"
    type="text/css" media="all">
<link rel="stylesheet" id="belleza-responsive-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/responsive.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-owl-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/testimonialsrotator/js/owl.carousel.css?ver=6.2.3"
    type="text/css" media="all">
<link rel="stylesheet" id="belleza-mixitup-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/mixitup/style-mixitup.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-fancybox-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/jquery.fancybox.min.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-wow-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/animate.css?ver=6.2.3" type="text/css" media="all">

<!-- Switch css -->
<link href="/public/libraries/css/views/switch.css" rel="stylesheet">
<link href="/public/app/css/custom.css" rel="stylesheet">
{{/section}}

<style>
    /* PAGINATION */

    #pagination ul {
        width: fit-content;
        justify-content: center;
        /* text-align: center; */
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        background: #fff;
        padding: 8px;
        border-radius: 50px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
        max-width: 500px;
    }

    #pagination ul li {
        color: #20B2AA;
        list-style: none;
        line-height: 45px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        user-select: none;
        transition: all 0.3s ease;
    }

    #pagination ul li.numb {
        list-style: none;
        height: 45px;
        width: 45px;
        margin: 0 3px;
        line-height: 45px;
        border-radius: 50%;
    }

    #pagination ul li.numb.first {
        margin: 0px 3px 0 -5px;
    }

    #pagination ul li.numb.last {
        margin: 0px -5px 0 3px;
    }

    #pagination ul li.dots {
        font-size: 22px;
        cursor: default;
    }

    #pagination ul li.btn {
        padding: 0 20px;
        border-radius: 50px;
    }

    #pagination li.active,
    #pagination ul li.numb:hover,
    #pagination ul li:first-child:hover,
    #pagination ul li:last-child:hover {
        color: #fff;
        background: #20B2AA;
    }

    .product-grid .product-image img {
        height: 250px;
    }
</style>

<body id="top" class="home blog theme-belleza-pro woocommerce-js none group-blog">
    <div id="pagewrap">

        <div class="header-top">
            <div class="container">
                <div class="left">
                    <span><i class="fa fa-phone"></i>+84 359 800 818</span><span><i class="fa fa-envelope"></i><a
                            href="mailto:perla.spa.vn@gmail.com" style="color: #fff;">perla.spa.vn@gmail.com</a></span>
                </div><!-- left -->
                <div class="right" style="padding: 10px 0;">
                    <span>
                        {{#if user}}
                        <a href="/logout" style="color: #fff;"> {{ user.name }}, Đăng xuất</a>
                        {{else}}
                        <a href="/auth/login" style="color: #fff;">Đăng nhập /</a>
                        <a href="/auth/signup" style="color: #fff;">Đăng ký</a>
                        {{/if}}
                    </span>
                </div>
                <div class="clear"></div>
            </div><!-- container -->
        </div><!-- header-top -->

        <div class="header">
            <div class="header-inner">
                <div class="logo">
                    <a href="https://perlaspa.com.vn/">
                        <h1>Perla Spa Hà Nội</h1>
                    </a>
                    <p>𝐒𝐤𝐢𝐧𝐜𝐚𝐫𝐞 – 𝐌𝐚𝐬𝐬𝐚𝐠𝐞 – 𝐇𝐞𝐚𝐝𝐜𝐚𝐫𝐞</p>
                </div><!-- .logo -->

                <div class="header-right">
                    <div class="bookonline">
                        <a href="#">
                            <div>Đặt lịch<span> Online</span></div>
                        </a>
                    </div><!-- bookonline -->


                    <div class="sitenav">
                        <div class="menu-menu-chinh-container">
                            <ul id="menu-menu-chinh" class="menu">
                                <li id="menu-item-529"
                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-529">
                                    <a href="http://localhost:5000/" aria-current="page">Trang chủ</a>
                                </li>
                                <li id="menu-item-537"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-537"><a
                                        href="http://localhost:5000/views/1/">Dịch vụ</a></li>
                                <li id="menu-item-538"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-538"><a
                                        href="http://localhost:5000/booking/">Đặt phòng</a></li>
                            </ul>
                        </div>
                    </div><!--.sitenav -->
                    <div class="clear"></div>
                </div><!--header-right-->
                <div class="clear"></div>
            </div><!-- .header-inner-->
        </div><!-- .header -->

        <div class="main-content pt-0" style="border-top: 1px #000 solid">

            <div class="container">
                <div class="inner-body">

                    <!-- Page Header -->
                    <div class="page-header">
                        <div>
                            <h2 class="main-content-title tx-24 mg-b-5">Dịch vụ</h2>
                        </div>
                    </div>
                    <!-- End Page Header -->

                    <!-- Row -->
                    <div class="row row-sm">
                        <div class="col-md-8 col-lg-9">
                            <div class="row row-sm">
                                {{#each products.aaData}}
                                <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6">
                                    <div class="card custom-card">
                                        <div class="p-0 ht-100p">
                                            <div class="product-grid">
                                                <div class="product-image">
                                                    <a href="/detail/{{this.id}}" class="image"
                                                        style="max-height: 265px">
                                                        {{{this.img}}}
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <h3 class="title" style="height: 45px; overflow: hidden"><a
                                                            href="/detail/{{this.id}}">{{
                                                            this.name }}</a></h3>
                                                    <div class="price"><span class="text-danger">{{ this.price }}
                                                            VND</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each }}
                            </div>
                            <nav>
                                <div id="pagination" class="mb-5">
                                    <ul class="pagination justify-content-center mt-5"></ul>
                                </div>
                                {{!-- <ul class="pagination justify-content-center mt-5">
                                    <li class="page-item disabled"><a class="page-link" href="#">Prev</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul> --}}
                            </nav>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3">
                            <div class="card custom-card">
                                <div class="card-header custom-card-header">
                                    <h6 class="main-content-label mb-0">Tên dịch vụ</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row row-sm">
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <input type="text" id="search-name" class="form-control"
                                                    placeholder="Search ...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card custom-card">
                                        <div class="card-header custom-card-header">
                                            <h6 class="main-content-label mb-0">Nhóm dịch vụ</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <select name="groups" id="select-group" class="form-control select2">
                                                    <option label="Select"></option>
                                                    {{#each productGroup.aaData}}
                                                    <option value="{{this.id}}">{{this.name}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <button class="btn ripple btn-primary btn-block" onclick="applyFilter()">Áp
                                                dụng
                                                lọc</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row -->

                </div>
            </div>
        </div>
        <div id="footer-wrapper">

            <div class="container">
                <div class="cols-3 widget-column-1">
                    <h5>Thông tin liên lạc</h5>
                    <p>PERLA SPA

                        Headcare - Massage - Skincare</p>
                    <div class="contactdetail">
                        <p><i class="fa fa-map-marker"></i> 🏠 CS1: 4/73 Hoàng Cầu, Đống Đa, Hà Nội.


                            🏠 CS2: Số 20 Lô C, ngõ 26 Vạn Phúc, Liễu Giai, Hà Nội.


                            Facebook.com/perlaspahanoi
                        </p>

                        <p><i class="fa fa-envelope"></i><a
                                href="mailto:perla.spa.vn@gmail.com">perla.spa.vn@gmail.com</a></p>


                        <p><i class="fa fa-phone"></i>0359800818 và 0359800989</p>

                    </div><!-- contactdetail -->
                </div><!-- cols-3.widget-column-1 -->


                <div class="cols-3 widget-column-2">
                    <h5></h5>

                </div><!-- cols-3.widget-column-2 -->


                <div class="cols-3 widget-column-3">
                    <h5></h5>
                </div><!-- cols-3.widget-column-3 -->

                <div class="cols-3 widget-column-4">
                </div><!-- cols-4.widget-column-4 -->

                <div class="clear"></div>
            </div><!--end .container-->

        </div><!-- footer-wrapper -->
        <div id="back-top" style="display: none;">
            <a title="Top of Page" href="#top"><span></span></a>
        </div>
        <link rel="stylesheet" id="belleza-gfonts-css"
            href="//fonts.googleapis.com/css?family=Roboto%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CRoboto%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CPlayfair+Display&amp;ver=6.2.3"
            type="text/css" media="all">
    </div>


    <script>
        function applyFilter() {
            const path = window.location.origin + window.location.pathname
            const select = document.getElementById('select-group')
            window.location = path + `?s=${document.getElementById('search-name').value}&g=${select.selectedOptions[0].value}`
        }

        const totalRecords = {{ products.iTotalRecords }}

        // PAGINATION
        const element = document.querySelector("#pagination ul");
        let totalPages = Math.ceil((totalRecords) / 6)
        let page = {{ page }}

        //calling function with passing parameters and adding inside element which is ul tag
        element.innerHTML = createPagination(totalPages, page);
        function createPagination(totalPages, page) {
            let liTag = '';
            let active;
            let beforePage = page - 1;
            let afterPage = page + 1;
            if (page > 1) { //show the next button if the page value is greater than 1
                liTag += `<a href="/views/${page - 1}${window.location.search}"><li class="btn prev" ><span><i class="fas fa-angle-left"></i> Trang trước </span></li></a>`;
            }

            if (page > 2) { //if page value is less than 2 then add 1 after the previous button

                if (page > 3) { //if page value is greater than 3 then add this (...) after the first li or page
                    liTag += `<li class="dots"><span>...</span></li>`;
                }
            }

            // how many pages or li show before the current li
            if (page == 1 && totalPages == 1) {
                beforePage = beforePage;
            }
            else if (page == totalPages && totalPages == 2) {
                beforePage = beforePage - 1;
            }
            else if (page == totalPages && totalPages != 1) {
                beforePage = beforePage - 2;
            } else if (page == totalPages - 1 && page == 1) {
                beforePage = beforePage;
            } else if (page == totalPages - 1) {
                beforePage = beforePage - 1;
            }
            // how many pages or li show after the current li
            if (page == 1 && totalPages == 3) {
                afterPage = afterPage;
            }
            else if (page == 1) {
                afterPage = afterPage + 2;
            } else if (page == 2) {
                afterPage = afterPage + 1;
            }


            for (var plength = beforePage; plength <= afterPage; plength++) {
                if (plength > totalPages) { //if plength is greater than totalPage length then continue
                    continue;
                }
                if (plength == 0) { //if plength is 0 than add +1 in plength value
                    plength = plength + 1;
                }
                if (page == plength) { //if page is equal to plength than assign active string in the active variable
                    active = "active";
                } else { //else leave empty to the active variable
                    active = "";
                }
                liTag += `<a href="/views/${plength}${window.location.search}"><li class="numb ${active}"><span>${plength}</span></li></a>`;
            }

            if (page < totalPages - 1) { //if page value is less than totalPage value by -1 then show the last li or page
                if (page < totalPages - 2) { //if page value is less than totalPage value by -2 then add this (...) before the last li or page
                    liTag += `<li class="dots"><span>...</span></li>`;
                }
                liTag += `<a href="/views/${totalPages}${window.location.search}"><li class="last numb"><span>${totalPages}</span></li></a>`;
            }

            if (page < totalPages) { //show the next button if the page value is less than totalPage(20)
                liTag += `<a href="/views/${page + 1}${window.location.search}"><li class="btn next"><span> Trang kế <i class="fas fa-angle-right"></i></span></li></a>`;
            }
            element.innerHTML = liTag; //add li tag inside ul tag
            return liTag; //reurn the li tag
        }

        // END PAGINATION
    </script>