<html lang="vi" class=" js ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Perla Spa Hà Nội - 𝐒𝐤𝐢𝐧𝐜𝐚𝐫𝐞 – 𝐌𝐚𝐬𝐬𝐚𝐠𝐞 – 𝐇𝐞𝐚𝐝𝐜𝐚𝐫𝐞</title>
    <meta name="description" content="𝐒𝐤𝐢𝐧𝐜𝐚𝐫𝐞 – 𝐌𝐚𝐬𝐬𝐚𝐠𝐞 – 𝐇𝐞𝐚𝐝𝐜𝐚𝐫𝐞">
    <link rel="canonical" href="https://perlaspa.com.vn/">
    <link rel="next" href="https://perlaspa.com.vn/page/2/">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Perla Spa Hà Nội">
    <meta property="og:description" content="𝐒𝐤𝐢𝐧𝐜𝐚𝐫𝐞 – 𝐌𝐚𝐬𝐬𝐚𝐠𝐞 – 𝐇𝐞𝐚𝐝𝐜𝐚𝐫𝐞">
    <meta property="og:url" content="https://perlaspa.com.vn/">
    <meta property="og:site_name" content="Perla Spa Hà Nội">
    <link rel="stylesheet" id="prefix_bootstrap-css"
        href="//maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css?ver=6.2.3" type="text/css" media="all">
    <link rel="stylesheet" id="font-css" href="//pagecdn.io/lib/easyfonts/fonts.css?ver=6.2.3" type="text/css"
        media="all">
    <link rel="stylesheet" id="wp-block-library-css"
        href="https://perlaspa.com.vn/wp-includes/css/dist/block-library/style.min.css?ver=6.2.3" type="text/css"
        media="all">
    <link rel="stylesheet" id="classic-theme-styles-css"
        href="https://perlaspa.com.vn/wp-includes/css/classic-themes.min.css?ver=6.2.3" type="text/css" media="all">
    <link rel="stylesheet" id="campus-gfonts-karla-css"
        href="//fonts.googleapis.com/css?family=Karla%3A400%2C700&amp;ver=6.2.3" type="text/css" media="all">
    <link rel="stylesheet" id="campus-gfonts-montserrat-css"
        href="//fonts.googleapis.com/css?family=Montserrat%3A300%2C400%2C500%2C600%2C700&amp;ver=6.2.3" type="text/css"
        media="all">
    <link rel="stylesheet" id="campus-gfonts-roboto-css"
        href="//fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C700&amp;ver=6.2.3" type="text/css" media="all">
    <link rel="stylesheet" id="campus-gfonts-playfair-css"
        href="//fonts.googleapis.com/css?family=Playfair+Display%3A400%2C700&amp;ver=6.2.3" type="text/css" media="all">
    <link rel="stylesheet" id="campus-gfonts-greatvibes-css"
        href="//fonts.googleapis.com/css?family=Great+Vibes&amp;ver=6.2.3" type="text/css" media="all">
    <link rel="stylesheet" id="belleza-basic-style-css"
        href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/style.css?ver=6.2.3" type="text/css" media="all">
    <link rel="stylesheet" id="belleza-editor-style-css"
        href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/editor-style.css?ver=6.2.3" type="text/css"
        media="all">
    <link rel="stylesheet" id="belleza-base-style-css"
        href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/default.css?ver=6.2.3" type="text/css"
        media="all">
    <link rel="stylesheet" id="belleza-nivo-style-css"
        href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/nivo-slider.css?ver=6.2.3" type="text/css"
        media="all">
    <link rel="stylesheet" id="belleza-font-awesome-style-css"
        href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/font-awesome.css?ver=6.2.3" type="text/css"
        media="all">
    <link rel="stylesheet" id="belleza-testimonialslider-style-css"
        href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/testimonialsrotator/js/tm-rotator.css?ver=6.2.3"
        type="text/css" media="all">
    <link rel="stylesheet" id="belleza-responsive-style-css"
        href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/responsive.css?ver=6.2.3" type="text/css"
        media="all">
    <link rel="stylesheet" id="belleza-owl-style-css"
        href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/testimonialsrotator/js/owl.carousel.css?ver=6.2.3"
        type="text/css" media="all">
    <link rel="stylesheet" id="belleza-mixitup-style-css"
        href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/mixitup/style-mixitup.css?ver=6.2.3" type="text/css"
        media="all">
    <link rel="stylesheet" id="belleza-fancybox-style-css"
        href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/jquery.fancybox.min.css?ver=6.2.3"
        type="text/css" media="all">
    <link rel="stylesheet" id="belleza-wow-style-css"
        href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/animate.css?ver=6.2.3" type="text/css"
        media="all">

</head>

<body id="top" class="home blog theme-belleza-pro woocommerce-js none group-blog">
    <div id="pagewrap">

        <div class="header-top">
            <div class="container">
                <div class="left">
                    <span><i class="fa fa-phone"></i>+84 359 800 818</span><span><i class="fa fa-envelope"></i><a
                            href="mailto:perla.spa.vn@gmail.com" style="color: #fff;">perla.spa.vn@gmail.com</a></span>
                </div><!-- left -->
                <div class="right" style="padding: 10px 0;">
                    <span>
                        {{#if user}}
                        <a href="/logout" style="color: #fff;"> {{ user.name }}, Đăng xuất</a>
                        {{else}}
                        <a href="/auth/login" style="color: #fff;">Đăng nhập /</a>
                        <a href="/auth/signup" style="color: #fff;">Đăng ký</a>
                        {{/if}}
                    </span>
                </div>
                <div class="clear"></div>

            </div><!-- container -->
        </div><!-- header-top -->

        <div class="header">
            <div class="header-inner">
                <div class="logo">
                    <a href="https://localhost:5000">
                        <h1>Perla Spa Hà Nội</h1>
                    </a>
                    <p>𝐒𝐤𝐢𝐧𝐜𝐚𝐫𝐞 – 𝐌𝐚𝐬𝐬𝐚𝐠𝐞 – 𝐇𝐞𝐚𝐝𝐜𝐚𝐫𝐞</p>
                </div><!-- .logo -->

                <div class="header-right">
                    <div class="bookonline">
                        <a href="/booking">
                            <div>Đặt lịch<span> Online</span></div>
                        </a>
                    </div><!-- bookonline -->


                    <div class="sitenav">
                        <div class="menu-menu-chinh-container">
                            <ul id="menu-menu-chinh" class="menu">
                                <li id="menu-item-529"
                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-529">
                                    <a href="http://localhost:5000/" aria-current="page">Trang chủ</a>
                                </li>
                                <li id="menu-item-537"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-537"><a
                                        href="http://localhost:5000/views/1/">Dịch vụ</a></li>
                                <li id="menu-item-538"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-538"><a
                                        href="http://localhost:5000/booking/">Đặt phòng</a></li>
                            </ul>
                        </div>
                    </div><!--.sitenav -->
                    <div class="clear"></div>
                </div><!--header-right-->
                <div class="clear"></div>
            </div><!-- .header-inner-->
        </div><!-- .header -->

        <div class="slider-main">
            <div id="slider" class="nivoSlider">
                <img src="https://perlaspa.com.vn/wp-content/uploads/2021/11/nen-moi.jpg" alt="" title="#slidecaption1"
                    style="display: none; width: 984.8px;"> <img class="nivo-main-image"
                    src="https://perlaspa.com.vn/wp-content/uploads/2021/11/nen-moi.jpg"
                    style="width: 984.8px; height: auto;">
                <div class="nivo-caption">


                </div>
            </div>

            <div id="slidecaption1" class="nivo-html-caption">


            </div>

        </div><!-- slider -->





        <section class="">
            <div class="container">
                <div class="welcome wow fadeIn" data-wow-duration="1s"
                    style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">

                    <div class="one_third">
                        <div class="welcome-box">
                            <h3>Chào mừng bạn đến với</h3>
                            <h2>Perla Spa Hanoi</h2>
                            <p>Tọa lạc tại 2 địa chỉ:&nbsp;<strong>số 4 ngõ 73 Hoàng Cầu và 20C – 26 Vạn Phúc, Liễu
                                    Giai</strong>, chúng tôi tự hào là <strong>Chuyên Gia Chăm sóc Sắc đẹp hàng đầu Hà
                                    Nội</strong>. Chúng tôi được sự tin yêu của khách hàng nhờ từ những dịch vụ làm đẹp
                                cơ bản đến chuyên sâu cùng với những trải nghiệm thư giãn chăm sóc sức khỏe chất lượng
                                tuyệt hảo. Nếu bạn đang có muốn có làn da trắng khỏe, mịn màng và một cơ thể dẻo dai,
                                trẻ trung, đừng quên liên hệ ngay Perla ở số điện thoại <strong>0359 800 818/0359 800
                                    989.</strong></p>
                            <div class="clear"></div>
                            <p><a class="button" href="#">Đọc thêm</a></p>
                        </div>
                        <p></p>
                    </div>
                    <div class="one_third">
                        <p></p>
                        <div class="wel-thumb">
                            <p><img decoding="async" loading="lazy"
                                    src="https://perlaspa.com.vn/wp-content/uploads/2021/01/perla-spa-logo.jpg" alt=""
                                    width="348" height="300"></p>
                        </div>
                        <p></p>
                    </div>
                    <div class="one_third last_column">
                        <p></p>
                        <div class="openhrs">
                            <div class="openhrs-box">
                                <h2>Giờ mở cửa</h2>
                            </div>
                            <div class="openhrs-box">
                                <span>Thứ 2 - Chủ Nhật</span>
                                <p>9h00 Sáng - Nhận khách trước 7h Tối</p>
                            </div>
                            <div class="openhrs-box">
                                <span></span>
                                <p></p>
                            </div>
                            <div class="openhrs-box last">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <p></p>
                    </div>
                    <p></p>
                </div><!-- .end section class -->
                <div class="clear"></div>
            </div><!-- container -->
        </section>

        <section class="" style="background-color:#f2f1f1; ">
            <div class="container">
                <div class="services wow fadeIn" data-wow-duration="1s"
                    style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
                    <h3 class="section_title_small">Các dịch vụ của</h3>
                    <h2 class="section_title">PERLA SPA</h2>

                    <div class="services-box" id="">
                        <div class="ser-thumb"><img
                                src="https://perlaspa.com.vn/wp-content/uploads/2020/10/ChamSocDa.png"></div>
                        <h3><a href="#">Chăm sóc da</a></h3>
                        <p>Chăm sóc và phục hồi các loại da khô, da dầu, mụn.</p>
                        <span></span>
                    </div>
                    <div class="services-box" id="">
                        <div class="ser-thumb"><img
                                src="https://perlaspa.com.vn/wp-content/uploads/2020/10/ChamSocDau.png"></div>
                        <h3><a href="#">Chăm sóc đầu</a></h3>
                        <p> Gội đầu dưỡng sinh Đài Loan và Gội đầu đạo dược chuyên sâu.</p>
                        <span></span>
                    </div>
                    <div class="services-box" id="">
                        <div class="ser-thumb"><img
                                src="https://perlaspa.com.vn/wp-content/uploads/2020/10/DuongSinh.png"></div>
                        <h3><a href="#">Massage Body</a></h3>
                        <p>Massage Body thư giãn và lưu thông khí huyết.</p>
                        <span></span>
                    </div>
                    <div class="services-box" id="last">
                        <div class="ser-thumb"><img
                                src="https://perlaspa.com.vn/wp-content/uploads/2021/01/cham-soc-me-bau.png"></div>
                        <h3><a href="#">Chăm sóc Mẹ Bầu</a></h3>
                        <p>Tình yêu thương dành cho mẹ và bé từ dịch vụ Massage và làm đẹp.</p>
                        <span></span>
                    </div>
                    <div class="clear"></div>
                </div><!-- .end section class -->
                <div class="clear"></div>
            </div><!-- container -->
        </section>

        <section class=""
            style="background-image:url(https://perlaspa.com.vn/wp-content/themes/belleza-pro/images/price-bg.jpg); background-repeat:no-repeat; background-position: center top; background-size:cover; display:none;">
            <div class="container">
                <div class="prices wow fadeIn animated" data-wow-duration="1s"
                    style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">

                    <div class="one_half">
                        <p></p>
                        <h2>Dịch Vụ</h2>
                        <p></p>
                        <div class="price-row"><a href="#">
                                <div class="price-box">
                                    <h3>Chăm sóc da mặt</h3>
                                </div>
                                <div class="price-box">
                                    <h4><i class="fa fa-clock-o"></i>60 phút</h4>
                                </div>
                                <div class="price-box last"><span></span></div>
                                <div class="clear"></div>
                            </a>
                        </div>
                        <div class="price-row"><a href="#">
                                <div class="price-box">
                                    <h3>Chăm sóc vùng đầu</h3>
                                </div>
                                <div class="price-box">
                                    <h4><i class="fa fa-clock-o"></i>90 phút</h4>
                                </div>
                                <div class="price-box last"><span></span></div>
                                <div class="clear"></div>
                            </a>
                        </div>
                        <div class="price-row"><a href="#">
                                <div class="price-box">
                                    <h3>Massage dưỡng sinh</h3>
                                </div>
                                <div class="price-box">
                                    <h4><i class="fa fa-clock-o"></i>90 phút</h4>
                                </div>
                                <div class="price-box last"><span></span></div>
                                <div class="clear"></div>
                            </a>
                        </div>
                        <p></p>
                        <div class="clear"></div>
                        <p><a class="button" href="#">Xem thêm</a></p>
                    </div>
                </div><!-- .end section class -->
                <div class="clear"></div>
            </div><!-- container -->
        </section>

        <section class=""
            style="background-image:url(https://perlaspa.com.vn/wp-content/uploads/2021/01/perla-spa-khuyen-mai-1-scaled.jpeg); background-repeat:no-repeat; background-position: center top; background-size:cover; ">
            <div class="container">
                <div class="advertise wow fadeIn" data-wow-duration="1s"
                    style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">

                    <h2>Giảm ngay 20% cho mọi liệu trình</h2>
                    <h2><strong>Gọi Ngay hotline 0359 800 818</strong></h2>
                    <p>&nbsp;</p>
                </div><!-- .end section class -->
                <div class="clear"></div>
            </div><!-- container -->
        </section>

        <section class="" style="background-color:#f2f1f1; display:none;">
            <div class="container">
                <div class="pproducts wow fadeIn animated" data-wow-duration="1s"
                    style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
                    <h3 class="section_title_small">Của Perla Spa</h3>
                    <h2 class="section_title">Sản Phẩm</h2>

                    <div class="woocommerce columns-4 "></div>
                </div><!-- .end section class -->
                <div class="clear"></div>
            </div><!-- container -->
        </section>

        <section class="no-padding" style="display:none;">
            <div class="container-full">
                <div class="instagram wow fadeIn animated" data-wow-duration="1s"
                    style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">

                    <div id="instafeed" class="insta"></div>
                </div><!-- .end section class -->
                <div class="clear"></div>
            </div><!-- container -->
        </section>


        <div id="footer-wrapper">

            <div class="container">
                <div class="cols-3 widget-column-1">
                    <h5>Thông tin liên lạc</h5>
                    <p>PERLA SPA

                        Headcare - Massage - Skincare</p>
                    <div class="contactdetail">
                        <p><i class="fa fa-map-marker"></i> 🏠 CS1: 4/73 Hoàng Cầu, Đống Đa, Hà Nội.


                            🏠 CS2: Số 20 Lô C, ngõ 26 Vạn Phúc, Liễu Giai, Hà Nội.


                            Facebook.com/perlaspahanoi
                        </p>

                        <p><i class="fa fa-envelope"></i><a
                                href="mailto:perla.spa.vn@gmail.com">perla.spa.vn@gmail.com</a></p>


                        <p><i class="fa fa-phone"></i>0359800818 và 0359800989</p>

                    </div><!-- contactdetail -->
                </div><!-- cols-3.widget-column-1 -->


                <div class="cols-3 widget-column-2">
                    <h5></h5>

                </div><!-- cols-3.widget-column-2 -->


                <div class="cols-3 widget-column-3">
                    <h5></h5>
                </div><!-- cols-3.widget-column-3 -->

                <div class="cols-3 widget-column-4">
                </div><!-- cols-4.widget-column-4 -->

                <div class="clear"></div>
            </div><!--end .container-->

        </div><!-- footer-wrapper -->
        <div id="back-top" style="display: none;">
            <a title="Top of Page" href="#top"><span></span></a>
        </div>
        <link rel="stylesheet" id="belleza-gfonts-css"
            href="//fonts.googleapis.com/css?family=Roboto%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CRoboto%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CPlayfair+Display&amp;ver=6.2.3"
            type="text/css" media="all">
    </div>

    <meta id="spine_extension">
</body>

</html>