<div class="modal-body">
    <form id="delete-admin-form" method="POST" action="/admins/delete/{{admin.id}}">
        <p>Bạn có chắc muốn xóa ?</p>
        <span class="mdl-textfield__error error-text" id="error-delete-admin">{{errors}}</span>
        <button class="btn ripple btn-primary" type="submit">Xóa</button>
        <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Hủy</button>
    </form>
</div>