<div class="modal-body">
    <form id="update-admin-form" action="/admins/update" method="POST">
        <input type="hidden" name="id" value="{{admin.id}}">
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4">
                <label class="mg-b-0">Tên đăng nhập</label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <input class="form-control" name="username" placeholder="Nhập tên đăng nhập" type="text"
                    value="{{admin.username}}">
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4">
                <label class="mg-b-0">Mật khẩu</label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                <input class="form-control" name="password" placeholder="Nhập mật khẩu" type="text" id="input-field">
                <button id="randomPasswordButton" class="btn btn-primary">Ngẫu nhiên</button>
            </div>
        </div>
        <div class="form-group row justify-content-end mb-0">
            <div class="col-md-8 pl-md-2">
                <button id="submitUpdateAdmin" type="submit" class="btn ripple btn-primary pd-x-30 mg-r-5">Cập
                    nhật</button>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Hủy</button>
            </div>
        </div>
    </form>
</div>