<div class="modal-body">
    <form id="create-product-form" action="/products/create" method="POST">
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-6 col-12 mg-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <label class="mg-b-0">Tên: </label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0">
                        <input class="form-control" name="name" placeholder="Nhập tên" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-6 col-12 mg-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <label class="mg-b-0">Giá: </label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                        <input class="form-control" name="price" placeholder="Nhập giá" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 mg-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <label class="mg-b-0">Thời lượng: </label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                        <input class="form-control" name="duration" placeholder="Nhập thời lượng" type="number">
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4">
                <label class="mg-b-0">Mô tả</label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <label>Mô tả</label>
                <textarea class="form-control" name="description" placeholder="Nhập Mô tả" type="text"></textarea>
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4">
                <label class="mg-b-0">Ảnh</label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <input class="form-control" type="file" id="input-product-img" img-id="output-upload-img"
                    id-url-file="products-create-img" onchange="loadFile(event)">
                <input class="form-control" id="products-create-img" name="img" type="hidden">
                <!-- todo replace with real upload -->
                <img id="output-upload-img" />
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <!--   <div class="col-md-6 col-12 mg-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <label class="mg-b-0">Đơn vị</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                        <select name="unit" id="">
                            <option disabled>Select Unit</option>
                            <option value="time">Time</option>
                            <option value="item">Item</option>
                        </select>
                    </div>
                </div>
            </div> -->
            <div class="col-md-6 col-12 mg-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <label class="mg-b-0">Nhóm</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                        <select name="product_group_id" id="">
                            <option disabled selected>Chọn nhóm</option>
                            {{{renderProductGroupOptions allProductGroups}}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row justify-content-end mb-0">
            <div class="col-md-8 pl-md-2">
                <button id="submitCreateEmployee" type="submit"
                    class="btn ripple btn-primary pd-x-30 mg-r-5">Thêm</button>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Hủy</button>
            </div>
        </div>
    </form>
</div>