<div class="modal-body">
    <form id="update-product-form" action="/products/update" method="POST">
        <input type="hidden" name="id" value="{{ product.id }}">
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-6 col-12 mg-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <label class="mg-b-0">Tên: </label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0">
                        <input class="form-control" name="name" placeholder="Nhập Tên" type="text"
                            value="{{ product.name }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-6 col-12 mg-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <label class="mg-b-0">Giá: </label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                        <input class="form-control" name="price" placeholder="Nhập Giá" type="number"
                            value="{{ product.price }}">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 mg-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <label class="mg-b-0">Thời lượng: </label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                        <input class="form-control" name="duration" placeholder="Enter Duration" type="number"
                            value="{{ product.duration }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-4">
                <label class="mg-b-0">Mô tả</label>
            </div>
            <div class="col-md-8 mg-t-5 mg-md-t-0">
                <label>Mô tả</label>
                <textarea class="form-control" name="description" placeholder="Nhập mô tả"
                    type="text">{{ product.description }}</textarea>
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            {{!-- <div class="col-md-6 col-12 mg-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <label class="mg-b-0">Unit</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                        <select name="unit" id="select-unit">
                            <option disabled>Select Unit</option>
                            <option value="time">Time</option>
                            <option value="item">Item</option>
                        </select>
                    </div>
                </div>
            </div> --}}
            <div class="col-md-6 col-12 mg-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <label class="mg-b-0">Nhóm</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                        <select name="product_group_id" id="select-product_group_id">
                            <option disabled selected>Chọn nhóm</option>
                            {{{renderProductGroupOptions allProductGroups}}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row justify-content-end mb-0">
            <div class="col-md-8 pl-md-2">
                <button id="submitUpdateProduct" type="submit" class="btn ripple btn-primary pd-x-30 mg-r-5">Cập
                    nhật</button>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Hủy</button>
            </div>
        </div>
    </form>
</div>

<script>
    var unit = "{{ product.unit }}";
    var product_group_id = "{{ product.product_group_id }}";
    $(`#select-unit option[value=${unit}]`).attr('selected', 'selected');
    $(`#select-product_group_id option[value=${product_group_id}]`).attr('selected', 'selected');
</script>