{{!-- CSS scope --}}
{{#section 'css_scope'}}
<!-- Internal DataTables css-->
<link href="/public/libraries/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/responsivebootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/fileexport/buttons.bootstrap4.min.css" rel="stylesheet" />

<!-- Switch css -->
<link href="/public/libraries/css/views/switch.css" rel="stylesheet">
<link href="/public/app/css/custom.css" rel="stylesheet">
{{/section}}

{{!-- JS Scope --}}
{{#section 'javascript_scope'}}

<!-- Internal Data Table js -->
<script src="/public/libraries/plugins/datatable/jquery.dataTables.min.js"></script>
<script src="/public/libraries/plugins/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/public/libraries/plugins/datatable/dataTables.responsive.min.js"></script>

{{!-- Javascript --}}
<script>
    let dataTable
    $(document).ready(function () {

        dataTable = $('#booked_data').DataTable({
            'searching': false,
            'processing': true,
            'serverSide': true,
            'serverMethod': 'get',
            'columnDefs': [
                {
                    'targets': '_all',
                    'orderSequence': ['desc', 'asc']
                },
            ],
            'ajax': {
                'url': '/rooms/book-manage/datatable',
                'type': 'get',
                'data': function (data) {

                }
            },
            'aaSorting': [],
            'columns': [
                { data: 'id' },
                { data: 'productName' },
                { data: 'customerName' },
                { data: 'roomName' },
                { data: 'time' },
                { data: 'date' },
                { data: 'action' },
            ]
        });

        $('#btn-filter').on('click', (e) => {
            dataTable.draw();
        })

        $(document).on('click', '.open-confirm-modal', (e) => {
            const clickedElement = $(e.target);
            const id = clickedElement.data('id');
            const apiUrl = '/rooms/modal-confirm' + `/${id}`;
            helper.show(apiUrl, 'Xác nhận đơn đặt');
        });

        $(document).on('click', '.open-reject-modal', (e) => {
            const clickedElement = $(e.target);
            const id = clickedElement.data('id');
            const apiUrl = '/rooms/modal-reject' + `/${id}`;
            helper.show(apiUrl, 'Hủy đơn đặt');
        });


        $(document).on('submit', '#confirm-booked-form', (e) => {
            $('#global-loader').show();
            e.preventDefault();
            formHelper.postFormJson(
                'confirm-booked-form',
                (data) => {
                    $('#global-loader').hide();
                    dialog.close();
                    displayToast(data.status, data.message);
                    dataTable.draw();
                },
                (errors) => {
                    $('#global-loader').hide();
                    const erorrsJSON = errors.responseJSON;
                    if (erorrsJSON.status == 'error') {
                        dialog.close();
                        displayToast(erorrsJSON.status, erorrsJSON.message);
                    }
                },
            );
        });

        $(document).on('submit', '#reject-booked-form', (e) => {
            $('#global-loader').show();
            e.preventDefault();
            formHelper.postFormJson(
                'reject-booked-form',
                (data) => {
                    $('#global-loader').hide();
                    dialog.close();
                    displayToast(data.status, data.message);
                    dataTable.draw();
                },
                (errors) => {
                    $('#global-loader').hide();
                    const erorrsJSON = errors.responseJSON;
                    if (erorrsJSON.status == 'error') {
                        dialog.close();
                        displayToast(erorrsJSON.status, erorrsJSON.message);
                    }
                },
            );
        });
    });


</script>
{{/section}}

{{!-- BreadScrum --}}
{{#section 'page_header'}}
<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Quản lý đặt phòng và dịch vụ</h2>
    </div>
</div>
<!-- End Page Header -->
{{/section}}

<!-- Datatable -->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table w-100" id="booked_data">
                        <thead>
                            <tr>
                                <th class="wd-5p">ID</th>
                                <th class="wd-10p">Dịch Vụ</th>
                                <th class="wd-10p">Khách hàng</th>
                                <th class="wd-10p">Phòng</th>
                                <th class="wd-10p">Thời gian</th>
                                <th class="wd-10p">Ngày</th>
                                <th class="wd-10p">Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Datatable -->