{{!-- CSS scope --}}
{{#section 'css_scope'}}
<!-- Internal DataTables css-->
<link href="/public/libraries/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/responsivebootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/fileexport/buttons.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" id="font-css" href="//pagecdn.io/lib/easyfonts/fonts.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="wp-block-library-css"
    href="https://perlaspa.com.vn/wp-includes/css/dist/block-library/style.min.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="classic-theme-styles-css"
    href="https://perlaspa.com.vn/wp-includes/css/classic-themes.min.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="campus-gfonts-karla-css"
    href="//fonts.googleapis.com/css?family=Karla%3A400%2C700&amp;ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="campus-gfonts-montserrat-css"
    href="//fonts.googleapis.com/css?family=Montserrat%3A300%2C400%2C500%2C600%2C700&amp;ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="campus-gfonts-roboto-css"
    href="//fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C700&amp;ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="campus-gfonts-playfair-css"
    href="//fonts.googleapis.com/css?family=Playfair+Display%3A400%2C700&amp;ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="campus-gfonts-greatvibes-css"
    href="//fonts.googleapis.com/css?family=Great+Vibes&amp;ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="belleza-basic-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/style.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="belleza-editor-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/editor-style.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="belleza-base-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/default.css?ver=6.2.3" type="text/css" media="all">
<link rel="stylesheet" id="belleza-nivo-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/nivo-slider.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-font-awesome-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/font-awesome.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-testimonialslider-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/testimonialsrotator/js/tm-rotator.css?ver=6.2.3"
    type="text/css" media="all">
<link rel="stylesheet" id="belleza-responsive-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/responsive.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-owl-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/testimonialsrotator/js/owl.carousel.css?ver=6.2.3"
    type="text/css" media="all">
<link rel="stylesheet" id="belleza-mixitup-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/mixitup/style-mixitup.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-fancybox-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/jquery.fancybox.min.css?ver=6.2.3" type="text/css"
    media="all">
<link rel="stylesheet" id="belleza-wow-style-css"
    href="https://perlaspa.com.vn/wp-content/themes/belleza-pro/css/animate.css?ver=6.2.3" type="text/css" media="all">

<!-- Switch css -->
<link href="/public/libraries/css/views/switch.css" rel="stylesheet">
<link href="/public/app/css/custom.css" rel="stylesheet">
{{/section}}

{{!-- JS Scope --}}
{{#section 'javascript_scope'}}

<!-- Internal Data Table js -->
<script src="/public/libraries/plugins/datatable/jquery.dataTables.min.js"></script>
<script src="/public/libraries/plugins/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/public/libraries/plugins/datatable/dataTables.responsive.min.js"></script>

<style>
    .time-block-wrapper {
        display: flex;
    }

    .time-block {
        width: 150px;
        height: auto;
        font-size: 1.5em;
        font-weight: 500;
        margin-right: 10px;
        text-align: center;
        padding: 10px;
        background: #fff;
        border: 1px solid #000;
        border-radius: 4px;
        margin-bottom: 8px;
        cursor: pointer;
        transition: all .3s;
    }

    .time-block:hover {
        background: #15397f;
        border: 1px solid transparent;
        color: #fff;
    }

    .disabled {
        pointer-events: none;
        background: #8888;
        color: #fff;
        border: none;
    }
</style>

{{!-- Javascript --}}
<script>
    $(document).ready(function () {
        $(document).on('click', '.time-block', (e) => {
            const clickedElement = $(e.target);
            const id = clickedElement.data('id');
            const apiUrl = `/rooms/modal-book?bookdate=${$('#date-range').val()}&room=${clickedElement.data('roomid')}&hour=${clickedElement.data('hour')}&min=${clickedElement.data('min')}`;
            helper.show(apiUrl, 'Booking Service ' + clickedElement.data('roomname'));
        });


        $(document).on('click', '#submitBooking', (e) => {
            $('#global-loader').show();
            e.preventDefault();
            formHelper.postFormJson(
                'booking-form',
                (data) => {
                    if (data.status == 'success') {
                        $(`[data-roomid="${$('[name="room_id"]').val()}"][data-hour="${Number($('[name="startHour"]').val())}"][data-min="${Number($('[name="startMin"]').val())}"]`).addClass('disabled')
                    }
                    $('#global-loader').hide();
                    dialog.close();
                    displayToast(data.status, data.message);
                    dataTable.draw();
                },
                (errors) => {
                    $('#global-loader').hide();
                    const erorrsJSON = errors.responseJSON;
                    if (erorrsJSON.status == 'error') {
                        displayToast(erorrsJSON.status, erorrsJSON.message);
                    } else {
                        renderErrorFormException(JSON.parse(erorrsJSON));
                    }
                },
            );
        });

    })



</script>
{{/section}}
{{!-- BreadScrum --}}
{{#section 'page_header'}}

<!-- End Page Header -->
{{/section}}

<body id="top" class="home blog theme-belleza-pro woocommerce-js none group-blog">
    <div id="pagewrap">

        <div class="header-top">
            <div class="container">
                <div class="left">
                    <span><i class="fa fa-phone"></i>+84 359 800 818</span><span><i class="fa fa-envelope"></i><a
                            href="mailto:perla.spa.vn@gmail.com" style="color: #fff;">perla.spa.vn@gmail.com</a></span>
                </div><!-- left -->
                <div class="right" style="padding: 10px 0;">
                    <span>
                        <a href="/logout" style="color: #fff;">Đăng xuất</a>
                    </span>
                </div>
                <div class="clear"></div>
            </div><!-- container -->
        </div><!-- header-top -->

        <div class="header">
            <div class="header-inner">
                <div class="logo">
                    <a href="/">
                        <h1>Perla Spa Hà Nội</h1>
                    </a>
                    <p>𝐒𝐤𝐢𝐧𝐜𝐚𝐫𝐞 – 𝐌𝐚𝐬𝐬𝐚𝐠𝐞 – 𝐇𝐞𝐚𝐝𝐜𝐚𝐫𝐞</p>
                </div><!-- .logo -->

                <div class="header-right">
                    <div class="bookonline">
                        <a href="#">
                            <div>Đặt lịch<span> Online</span></div>
                        </a>
                    </div><!-- bookonline -->


                    <div class="sitenav">
                        <div class="menu-menu-chinh-container">
                            <ul id="menu-menu-chinh" class="menu">
                                <li id="menu-item-529"
                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-529">
                                    <a href="http://localhost:5000/" aria-current="page">Trang chủ</a>
                                </li>
                                <li id="menu-item-537"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-537"><a
                                        href="http://localhost:5000/views/1/">Dịch vụ</a></li>
                                <li id="menu-item-538"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-538"><a
                                        href="http://localhost:5000/booking/">Đặt phòng</a></li>
                            </ul>
                        </div>
                    </div><!--.sitenav -->
                    <div class="clear"></div>
                </div><!--header-right-->
                <div class="clear"></div>
            </div><!-- .header-inner-->
        </div><!-- .header -->



        <!-- Datatable -->
        <div class="row row-sm" style="border-top: 1px #000 solid">
            <div class="col-lg-12">
                <div class="card custom-card overflow-hidden">
                    <div class="card-body m-auto" style="width: 1170px">
                        <h2 class="main-content-title tx-24 mg-b-5">Đặt phòng</h2>
                        <label for="date-range" class="mg-b-0">Chọn ngày làm dịch vụ : </label>
                        <select id="date-range" class="select2" style="min-width: 200px;" onchange="selectDay()">
                            <option selected disabled>Chọn ngày làm dịch vụ</option>
                        </select>
                        <div style="height: 50px;">

                        </div>
                        {{#each rooms}}
                        <h3>{{this.name}}</h3>
                        <div class="time-block-wrapper mb-3">
                            {{{renderTimeBlocks this}}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <div id="footer-wrapper">

            <div class="container">
                <div class="cols-3 widget-column-1">
                    <h5>Thông tin liên lạc</h5>
                    <p>PERLA SPA

                        Headcare - Massage - Skincare</p>
                    <div class="contactdetail">
                        <p><i class="fa fa-map-marker"></i> 🏠 CS1: 4/73 Hoàng Cầu, Đống Đa, Hà Nội.


                            🏠 CS2: Số 20 Lô C, ngõ 26 Vạn Phúc, Liễu Giai, Hà Nội.


                            Facebook.com/perlaspahanoi
                        </p>

                        <p><i class="fa fa-envelope"></i><a
                                href="mailto:perla.spa.vn@gmail.com">perla.spa.vn@gmail.com</a></p>


                        <p><i class="fa fa-phone"></i>0359800818 và 0359800989</p>

                    </div><!-- contactdetail -->
                </div><!-- cols-3.widget-column-1 -->


                <div class="cols-3 widget-column-2">
                    <h5></h5>

                </div><!-- cols-3.widget-column-2 -->


                <div class="cols-3 widget-column-3">
                    <h5></h5>
                </div><!-- cols-3.widget-column-3 -->

                <div class="cols-3 widget-column-4">
                </div><!-- cols-4.widget-column-4 -->

                <div class="clear"></div>
            </div><!--end .container-->

        </div><!-- footer-wrapper -->
        <div id="back-top" style="display: none;">
            <a title="Top of Page" href="#top"><span></span></a>
        </div>
        <link rel="stylesheet" id="belleza-gfonts-css"
            href="//fonts.googleapis.com/css?family=Roboto%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CRoboto%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CPlayfair+Display%7CRoboto%7CPlayfair+Display&amp;ver=6.2.3"
            type="text/css" media="all">
    </div>

    <meta id="spine_extension">
</body>

<!-- End Datatable -->

<script>
    var dateRange = document.getElementById('date-range'),
        monthNames = ["/ 1 /", "/ 2 /", "/ 3 /", "/ 4 /", "/ 5 /", "/ 6 /", "/ 7 /", "/ 8 /", "/ 9 /", "/ 10 /", "/ 11 /", "/ 12 /"];

    for (var day = 0; day < 5; day++) {
        var date = new Date();
        date.setDate(date.getDate() + day);
        dateRange.options[dateRange.options.length] = new Option([date.getDate(), monthNames[date.getMonth()], date.getFullYear()].join(' '), date.toISOString());
    }

    function selectDay(e) {
        $.get(`/rooms/booked?date=${$('#date-range').val()}`, function (data, status) {
            $('.time-block').removeClass('disabled')
            const bookedObj = JSON.parse(data.booking)
            bookedObj.forEach((book) => {
                $(`[data-roomid="${book.roomId}"][data-hour="${book.startHour}"][data-min="${book.startMin}"]`).addClass('disabled')
            })
        });
    }
</script>