{{!-- CSS scope --}}
{{#section 'css_scope'}}
<!-- Internal DataTables css-->
<link href="/public/libraries/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/responsivebootstrap4.min.css" rel="stylesheet" />
<link href="/public/libraries/plugins/datatable/fileexport/buttons.bootstrap4.min.css" rel="stylesheet" />

<link href="/public/app/css/custom.css" rel="stylesheet">
<link href="/public/libraries/css/views/switch.css" rel="stylesheet">
{{/section}}

{{!-- JS Scope --}}
{{#section 'javascript_scope'}}

<!-- Internal Data Table js -->
<script src="/public/libraries/plugins/datatable/jquery.dataTables.min.js"></script>
<script src="/public/libraries/plugins/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/public/libraries/plugins/datatable/dataTables.responsive.min.js"></script>

<head>
    <script src="https://cdn.jsdelivr.net/chance/1.0/chance.min.js"></script>
</head>

{{!-- Javascript --}}
<script>
    let dataTable
    $(document).ready(function () {

        dataTable = $('#admins_data').DataTable({
            'searching': false,
            'processing': true,
            'serverSide': true,
            'serverMethod': 'get',
            'columnDefs': [
                {
                    'targets': '_all',
                    'orderSequence': ['desc', 'asc']
                },
            ],
            'ajax': {
                'url': '/admins/all',
                'type': 'get',
                'data': function (data) {
                    const filter = {};

                    $('.filter-field').each(function (index) {
                        if ($(this).val().length == 0) {
                            return
                        }
                        filter[$(this).attr('username')] = $(this).val();
                    })

                    data.filter = filter;
                }
            },
            'aaSorting': [],
            'columns': [
                { data: 'id' },
                { data: 'username' },
                { data: 'created' },
                { data: 'action' },
            ]
        });

        $('#btn-filter').on('click', (e) => {
            dataTable.draw();
        })
    });

    $('#btn-add-admin').on('click', (e) => {
        const apiUrl = '/admins/modal-create';
        helper.show(apiUrl, 'Thêm quản trị viên');
    });

    $(document).on('click', '.open-update-modal', (e) => {
        const clickedElement = $(e.target);
        const id = clickedElement.data('id');
        const apiUrl = '/admins/modal-update' + `/${id}`;
        helper.show(apiUrl, 'Cập nhật quản trị viên');
    });

    $(document).on('click', '.open-delete-modal', (e) => {
        const clickedElement = $(e.target);
        const id = clickedElement.data('id');
        const apiUrl = '/admins/modal-delete' + `/${id}`;
        helper.show(apiUrl, 'Xóa quản trị viên');
    });


    $(document).on('submit', '#create-admin-form', (e) => {
        e.preventDefault();
        formHelper.postFormJson(
            'create-admin-form',
            (data) => {
                dialog.close();
                displayToast(data.status, data.message);
                dataTable.draw();
            },
            (errors) => {
                const erorrsJSON = errors.responseJSON;
                if (erorrsJSON.status == 'error') {
                    dialog.close();
                    displayToast(erorrsJSON.status, erorrsJSON.message);
                } else {
                    renderErrorFormException(JSON.parse(erorrsJSON));
                }
            },
        );
    });

    $(document).on('submit', '#update-admin-form', (e) => {
        $('#global-loader').show();
        e.preventDefault();
        formHelper.postFormJson(
            'update-admin-form',
            (data) => {
                $('#global-loader').hide();
                dialog.close();
                displayToast(data.status, data.message);
                dataTable.draw();
            },
            (errors) => {
                $('#global-loader').hide();
                const erorrsJSON = errors.responseJSON;
                if (erorrsJSON.status == 'error') {
                    dialog.close();
                    displayToast(erorrsJSON.status, erorrsJSON.message);
                } else {
                    renderErrorFormException(JSON.parse(erorrsJSON));
                }
            },
        );
    });

    $(document).on('submit', '#delete-admin-form', (e) => {
        $('#global-loader').show();
        e.preventDefault();
        formHelper.postFormJson(
            'delete-admin-form',
            (data) => {
                $('#global-loader').hide();
                dialog.close();
                displayToast(data.status, data.message);
                dataTable.draw();
            },
            (errors) => {
                $('#global-loader').hide();
                const erorrsJSON = errors.responseJSON;
                if (erorrsJSON.status == 'error') {
                    dialog.close();
                    displayToast(erorrsJSON.status, erorrsJSON.message);
                }
            },
        );
    });

    $(document).on('click', '#randomPasswordButton', (e) => {
        e.preventDefault();

        const randomStringInput = document.getElementById("input-field");

        randomStringInput.value = randomPassword();
    });

    function randomPassword() {
        const pools = ['abcdefghijklmnopqrstuvwxyz', 'ABCDEFGHIJKLMNOPQRSTUVWXYZ', '0123456789', '!@#$%^&*()_-+=']
        let randomString = ''

        // tạo ra 1 chuỗi có 2 hoặc 3 : chữ thường, chữ hoa, số, kí tự đặc biệt
        pools.forEach(pool => {
            randomString += chance.string({
                length: Math.round(Math.random()) + 2,
                pool: pool
            });
        })

        const arr = randomString.split('')

        // xáo trộn chuỗi
        for (let i = arr.length - 1; i > 0; i--) {
            const j = Math.round(Math.random() * (i + 1));
            [arr[i], arr[j]] = [arr[j], arr[i]];
        }

        return arr.join("")
    }

</script>

{{/section}}

{{!-- BreadScrum --}}
{{#section 'page_header'}}
<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Quản trị viên</h2>
    </div>
</div>
<!--End Page Header-- >
{{/section}}
<!--Filter -->
<div class="row row-sm">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <button class="btn ripple btn-primary pd-x-30 mg-r-5 mb-3" style="float: left;" id="btn-add-admin">Tạo
                    quản trị viên</button>
            </div>
        </div>
    </div>
</div>

<!--Datatable -->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Lọc bởi...</h6>
                    <br />
                </div>
                <div class="row row-sm">
                    <div class="col-lg-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    Tên:
                                </div>
                            </div>
                            <input class="form-control filter-field" username="username"
                                placeholder="Tìm kiếm bởi tên..." type="text" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-primary" id="btn-filter">Tìm kiếm</button><br />
                        <span class="error invalid-feedback" id="error-filters-admins" style="display:none"></span>
                    </div>
                </div>
                <div class="table-responsive mt-5">
                    <table class="table w-100" id="admins_data">
                        <thead>
                            <tr>
                                <th class="wd-10p">ID </th>
                                <th class="wd-15p">Tên</th>
                                <th class="wd-15p">Ngày tạo</th>
                                <th class="wd-15p">Hành động</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Datatable-- >