<form class="create-salary-form text-center" id="form-create-salary-{{index}}" method="POST" action="/salaries/create">
    <input type="hidden" name="employee_id" value="{{employeeId}}">
    <input type="hidden" name="shift" value="{{shift}}">
    <input type="hidden" name="checkinDate" value="{{checkinDate}}">
    <input type="checkbox" class="check-in" data-index="{{index}}" id="check-day-{{index}}" {{checked}}>
</form>
{{#if checked}}
<form class="delete-salary-form text-center" id="form-delete-salary-{{index}}" method="POST"
    action="/salaries/delete/{{shiftId}}">
</form>
{{/if}}