<div class="modal-body">
    <form id="create-product-group-form" action="/product-group/create" method="POST">
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-6 col-12 mg-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <label class="mg-b-0">Tên: </label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0">
                        <input class="form-control" name="name" placeholder="Nhập Tên" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-6 col-12 mg-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <label class="mg-b-0">Nhóm Cấp trên</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0 form-inline">
                        <select name="parent" id="">
                            <option>Chọn cấp trên</option>
                            {{{renderProductGroupOptions allProductGroups}}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row justify-content-end mb-0">
            <div class="col-md-8 pl-md-2">
                <button id="submitCreateEmployee" type="submit"
                    class="btn ripple btn-primary pd-x-30 mg-r-5">Thêm</button>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Hủy</button>
            </div>
        </div>
    </form>
</div>